</div>
<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <span>Soluciones Informáticas "kukuSoft"®</span>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</html>
<script>
    $("input").keyup(input => {
        input.target.value = input.target.value.toUpperCase();
    })
</script>